<h1>待辦事項列表</h1>
<%=form_tag("todolist",method:"post") do %>
<div class="NewToDo">
	內容 <%= text_field_tag :content  %>
	<%= submit_tag "新增" %>
</div>
<% end %>
<hr>
<nav>
	<%
	if params[:status] == "Wait"
		a_class = ""
		w_class = "active"
		c_class = ""
	elsif params[:status] == "Complete"
		a_class = ""
		w_class = ""
		c_class = "active"
	else
		a_class = "active"
		w_class = ""
		c_class = ""
	end
	%>
	<ul>
		<li class=<%=a_class%>><%=link_to "全部",{action: "index"}%></li>
		<li class=<%=w_class%>><%=link_to "待辦",{action: "index",status: "Wait"}%></li>
		<li class=<%=c_class%>><%=link_to "完成",{action: "index",status: "Complete"}%></li>
	</ul>
</nav>
<div class="content">
	<table >

		<tr>
			<th class="cTitle">內容</th>
			<th class="cStatus">狀態</th>
			<th class="cMange">選項</th>
		</tr>
		<% @List.each do |item| %>
		<%
			status = item.status
			if status ==  "complete"
				btn_name = "完成"
				btn_class = "Complete"
				content_class = "Complete"
			else
				btn_name = "待辦"
				btn_class = "Wait"
				content_class = "Wait"
			end
		%>
		<tr>
		<td class='<%=content_class%>'><%=item.content%></td>
		<td style="text-align:center">
			<%=button_to btn_name,{ action: "iscomplete", id: item.id},class: btn_class %>
		</td>
		<td style="text-align:center">
			<%=button_to "編輯",{ action: "edit",id: item.id },method: :get %>
			<%=button_to "刪除",{action: "destroy",id: item.id},method: :delete %>
		</td>
		</tr>
		<% end %>
	</table>
</div>
